.about-company__wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0 0 122px 250px;
  margin: 0 auto;
  min-width: 770px;
  max-width: #{"min(83.7%, 1222px)"};

  @media (max-width: $vp-1023) {
    padding: 0 0 80px 179px;
    min-width: 674px;
    max-width: #{"min(87.5%, 1222px)"};
  }

  @media (max-width: $vp-767) {
    padding: 0 0 79px;
    min-width: 270px;
    max-width: #{"min(84%, 760px)"};
  }
}

.about-company__wrapper img {
  position: absolute;
  left: 0;
  top: 0;

  @media (max-width: $vp-767) {
    display: none;
  }
}

.about-company .about-company__wrapper h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50.63px;
  color: $color-black-pearl;

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 39.38px;
  }
}

.about-company__wrapper p {
  margin: 0 0 20px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.5px;
  color: $color-black-pearl;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 18.82px;
  }
}

.about-company__wrapper p:nth-of-type(n+2) {
  margin-bottom: 40px;

  @media (max-width: $vp-1023) {
    margin-bottom: 20px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 10px;
  }
}

.about-company__wrapper p span:first-child {
  @media (max-width: $vp-767) {
    display: none;
  }
}

.about-company__additional {
  display: none;
}

.about-company__wrapper.is-expand {
  .about-company__additional {
    display: block;
  }

  p span {
    @media (max-width: $vp-767) {
      display: block;
    }
  }
}

.about-company__button {
  box-sizing: border-box;
  margin: 0;
  padding: 14px 13px 8px 12px;
  width: 180px;
  min-height: 45px;
  line-height: 16.41px;
  color: $color-deep-sky-blue;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;

  span:nth-last-child(1) {
    display: none;
  }

  @media (max-width: $vp-1023) {
    padding: 13px 13px 15px 12px;
    letter-spacing: 0.6px;
  }

  @media (max-width: $vp-767) {
    padding: 8px 15px 12px;
    width: 160px;
    min-height: 35px;
  }
}

.about-company__wrapper.is-expand + .about-company__button span:nth-of-type(1) {
  display: none;
}

.about-company__wrapper.is-expand + .about-company__button span:nth-last-of-type(1) {
  display: block;
}
