.card h3 {
  position: relative;
  padding-right: 40px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  z-index: 3;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    max-width: 230px;
    font-size: 18px;
  }
}

.card__img {
  box-sizing: border-box;
  width: 100%;
  min-height: 650px;

  @media (max-width: $vp-1023) {
    min-height: 250px;
  }

  @media (max-width: $vp-767) {
    min-height: 270px;
  }
}

.card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
