.feedback--background {
  position: relative;
  width: 100%;
  min-height: 840px;
  box-sizing: border-box;
  background: url("../img/bg-form@2x.webp");
  background-repeat: no-repeat;
  background-position: 40% 57%;
  background-color: $color-deep-sky-blue;

  @media (max-width: $vp-1023) {
    min-height: 580px;
    background: $color-deep-sky-blue;
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 165px 0 242px;
  margin: 0 auto;
  max-width: #{"min(92%, 1210px)"};
  min-height: 840px;

  @media (max-width: $vp-1023) {
    padding: 45px 0 125px;
    width: 100%;
    max-width: #{"min(87%, 1000px)"};
    min-height: 580px;
  }

  @media (max-width: $vp-767) {
    padding: 46px 0 90px;
    min-width: 270px;
    max-width: #{"min(84%, 760px)"};
    min-height: 750px;
  }
}

.feedback__img {
  max-width: #{"min(46%, 510px)"};

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.feedback__img img {
  transform: translate(1px, 80px);
  width: 100%;
  z-index: 1;
}

.feedback__form-wrapper {
  max-width: #{"min(51%, 585px)"};

  @media (max-width: $vp-1023) {
    max-width: 100%;
    width: 100%;
  }
}

.feedback__form-wrapper h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50.63px;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    margin-bottom: 9px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 42.19px;
  }
}

.feedback__form-wrapper p {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.5px;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    margin-bottom: 25px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 18.82px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;

  @media (max-width: $vp-1023) {
    row-gap: 19px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
