.form input {
  padding: 11px 15px 15px;
  height: 50px;
  box-sizing: border-box;
  color: $color-default-white;
  background-color: $color-deep-sky-blue-transparent;
  border: none;
  border-radius: 3px;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 1px 2px $color-default-white-transparent;
    outline: none;
  }

  @media (max-width: $vp-1023) {
    padding: 14px 16px 16px;
  }
}

.form input::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.5px;
  color: $color-default-white;
}

.form textarea {
  margin-bottom: 15px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding: 23px 15px;
  box-sizing: border-box;
  width: 100%;
  min-height: 155px;
  color: $color-default-white;
  background-color: $color-deep-sky-blue-transparent;
  border: none;
  border-radius: 3px;
  resize: none;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 1px 2px $color-default-white-transparent;
    outline: none;
  }

  @media (max-width: $vp-1023) {
    padding: 33px 15px 23px;
    margin-bottom: 15px;
    min-height: 155px;
  }

  @media (max-width: $vp-767) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 25px 15px;
    min-height: 180px;
  }
}

.form textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.5px;
  color: $color-default-white;
}

.form__button {
  padding: 14px 25px 12px;
  max-width: #{"min(100%, 265px)"};
  min-height: 45px;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.7px;
  background-color: $color-black-pearl;
  border: none;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    padding: 16px 25px 10px;
    align-self: center;
    letter-spacing: 0.9px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 0;
    max-width: 100%;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
}

.form__checkbox {
  position: relative;
  display: flex;
  align-self: flex-end;
  margin-left: 8px;
  grid-row: 3 / 4;
  grid-column: 2 / 3;

  @media (max-width: $vp-1023) {
    margin-left: 0;
    max-width: 280px;
  }

  @media (max-width: $vp-767) {
    max-width: 330px;
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
}

.form__checkbox label {
  padding-left: 26px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 15.68px;
  color: $color-default-white;
  cursor: pointer;
  user-select: none;

  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: -1px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid $color-default-white;
    border-radius: 3px;

    @media (max-width: $vp-767) {
      top: 6px;
      left: 4px;
      width: 15px;
      height: 14px;
    }
  }

  @media (max-width: $vp-1023) {
    padding-left: 23px;
  }

  @media (max-width: $vp-767) {
    padding-left: 30px;
  }
}

.form__checkbox input:hover + label::before,
.form__checkbox input:focus + label::before {
  box-shadow: inset 0 0 1px 1.5px $color-default-white-transparent;
  outline: none;
}

.form__checkbox input:checked + label::after {
  position: absolute;
  content: "";
  left: 3px;
  top: 13px;
  width: 15px;
  height: 15px;
  background: url("../img/sprite/checkmark-icon.svg");
  background-repeat: no-repeat;

  @media (max-width: $vp-767) {
    left: 7px;
    top: 10px;
    width: 15px;
    height: 14px;
  }
}
