.page-body.is-locked {
  overflow-y: scroll;
  position: fixed;
}

.page-body__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-body__wrapper .page-header + .main {
  flex: 1 0 auto;
}
