.page-header--background {
  position: fixed;
  width: 100%;
  min-width: 320px;
  z-index: 10;
  background: $color-black-pearl-to-bottom;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: auto;
  padding: 30px 0 29px;
  max-width: #{"min(92%, 1220px)"};

  @media (max-width: $vp-1023) {
    padding: 19px 0 20px;
    max-width: #{"min(86.5%, 1020px)"};
  }

  @media (max-width: $vp-767) {
    padding: 15px 0 16px;
    max-width: #{"min(83%, 760px)"};
  }
}

.page-header__logo img {
  @media (max-width: $vp-767) {
    width: 35px;
    height: 35px;
  }
}

.page-header__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 41.5%;

  @media (max-width: $vp-1023) {
    width: 15%;
  }

  @media (max-width: $vp-767) {
    max-width: 100px;
    width: 38.6%;
  }
}

.page-header__button {
  align-self: center;
  width: 160px;
  height: 40px;
  padding: 10px 15px;
  margin-right: 60px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.92px;
  text-transform: uppercase;
  color: $color-alice-blue;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}
