.socials__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $vp-1023) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.socials__logo {
  margin-bottom: 25px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 20px;
    align-self: center;
  }
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;

  @media (max-width: $vp-1023) {
    gap: 10px;
  }

  @media (max-width: $vp-767) {
    margin: 0 auto;
  }
}

.socials__item svg {
  @media (max-width: $vp-1023) {
    transform: translate(10px, 4px);
  }

  @media (max-width: $vp-767) {
    transform: translate(3px, -11px);
  }
}

.socials__link {
  padding: 5px 8px;

  &:hover,
  &:focus {
    opacity: 0.3;
    outline: none;
  }
}
