// Colors
// ---------------------------------

// Default

$color-default-white:               #ffffff;

// Project palette

$color-alice-blue: #f2f5f6;
$color-black-pearl: #041827;
$color-deep-sky-blue: #00b2ff;
$color-shark: #192024;
$color-whisper: #ebebeb;
$color-deep-sky-blue-transparent:   rgba(4, 24, 39, 0.15);
$color-default-white-transparent:                 rgba(255, 255, 255, 0.6);

// Gradient

$color-black-pearl-to-bottom:                    linear-gradient($color-black-pearl 84.9%, rgba(4, 24, 39, 0) 100%);
$color-shark-to-bottom:                          linear-gradient(rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-767:                            767px;
$vp-1023:                           1023px;
